apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ylgiaksx
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ylgiaksx:80da21d7527b65a84d19802eb62e87d6e3e86748@sha256:4dbb22a3d3f17db4f02847a87425fd11dc3c290b08ec5d81f042667a777a54f2
        name: container-image  
